<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        include includes/script
        link(rel="stylesheet" href="./styles/home.css")
        title #{title} | #{contactInfo.name}
    body
        include includes/header

        h3 #{contactInfo.name}, you will be contacted on #{contactInfo.email}